##定义初始变量
#set($className = $tool.append($setting.fileNamePrefix, $fileClass.name, $setting.fileNameSuffix, "Service"))
#set($entityName = $!{fileClass.name})

$!setting.setFileName($tool.append($className, ".java"))

#set($basePackage = $!{file.packageName.substring(0,${file.packageName.indexOf(".model")})})
package ${basePackage}.service;


import $!{basePackage}.model.request.DeleteDataRequest;
import $!{basePackage}.model.entity.$!{entityName};
import $!{basePackage}.model.request.$tool.packageName($fileClass.name).*;
import $!{basePackage}.model.response.SaveAllResponse;
import $!{basePackage}.model.response.TotalResponse;
import javax.annotation.Resource;
import java.util.List;

public interface $!{className}{

        SaveAllResponse save$!{entityName}List(Save$!{entityName}ListRequest request);

        TotalResponse<$!{entityName}> fetch$!{entityName}List(Fetch$!{entityName}ListRequest request);

        TotalResponse fetch$!{entityName}GroupFiledList(Fetch$!{entityName}GroupFiledRequest request);

        void delete$!{entityName}(DeleteDataRequest request);

        Long delete$!{entityName}ByQuery(Delete$!{entityName}Request request);

        Long update$!{entityName}ByQuery(Update$!{entityName}Request request);

        }
