$!setting.setFileName($tool.append("Fetch",$fileClass.name, "ListRequest.java"))

package $!{file.packageName.substring(0,${file.packageName.indexOf("entity")})}request;
#foreach($column in $file.importList.allImportStatements)
    ${column.text}
#end
import ${fileClass.qualifiedName};
import com.fasterxml.jackson.annotation.JsonProperty;
import com.onestep.pmms.model.message.BasePmmsDataRequest;

import java.util.List;
import javax.validation.Valid;
import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.NotNull;

import lombok.Data;

@Data
public class Fetch$!{fileClass.name}ListRequest extends FetchDataRequest {

    #foreach($column in $fileClass.allFields)
        #if(!$tool.match($column.name, "^(update|delete|create).*$")&&!${column.hasModifierProperty("static")})
            #if(${column.docComment})
                ${column.docComment.text}
            #end
            private $!{column.type.name} $!{column.name};
        #end
    #end
}