##定义初始变量
#set($className = $tool.append($fileClass.name, "Service"))
$!setting.setFileName($tool.append($fileClass.name, "Service.java"))

##拿到主键
#foreach($column in $fileClass.allFields)
    #if(!$column.name.equals("id"))
        #set($pk = $column)
    #end
#end


#set($basePackage = $!{file.packageName.substring(0,${file.packageName.indexOf(".model")})})
package ${basePackage}.service;


import $!{basePackage}.model.request.DeleteDataRequest;
import $!{basePackage}.model.entity.$!{fileClass.name};
import $!{basePackage}.model.request.Fetch$!{fileClass.name}ListRequest;
import $!{basePackage}.model.request.Save$!{fileClass.name}ListRequest;
import $!{basePackage}.model.response.SaveAllResponse;
import $!{basePackage}.model.response.TotalResponse;
import javax.annotation.Resource;
import java.util.List;

public interface $!{className}{

        SaveAllResponse save$!{fileClass.name}List(Save$!{fileClass.name}ListRequest request);

        TotalResponse<$!{fileClass.name}> fetch$!{fileClass.name}List(Fetch$!{fileClass.name}ListRequest request);

        void delete$!{fileClass.name}(DeleteDataRequest request);
        }