##Dao
##导入宏定义
$!define

##设置表后缀（宏定义）
#setTableSuffix("Dao")

##保存文件（宏定义）
#save("/dao", "Dao.java")

##拿到主键
#if(!$classInfo.pkColumn.isEmpty())
    #set($pk = $classInfo.pkColumn.get(0))
#end

##包路径（宏定义）
#setPackageSuffix("dao")

import $!{classInfo.savePackageName}.model.entity.$!classInfo.name;
import java.util.List;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Modifying;
import org.springframework.data.jpa.repository.Query;


public interface $!{tableName} extends JpaRepository<$!classInfo.name,$!pk.shortType> {

@Modifying
@Query("update $!classInfo.name t set t.deleteAt = ?1, t.deleteBy= ?2 where t.id in(?3)")
void softDelete(Long timestamp, String userId, List<$!pk.shortType> idList);

}